.cover__heart-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    height: 36px;
    outline: 2px solid transparent;
    transition: outline 0.3s ease;
}

.cover__heart-button:focus {
    outline: none;
}

.cover__heart-button:focus-visible {
    outline: 2px solid var(--color-text);
}
