.effects::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--color-text);
    mix-blend-mode: var(--mix-blend-mode);
    transform: scaleX(0);
    transform-origin: 0;
    transition: transform 0.5s ease-in-out;
}

.effects:hover::before {
    transform: scaleX(1);
}

.effects:focus {
    outline: none;
}

.effects:focus-visible {
    box-shadow: 2px 2px 0 0 var(--color-text);
}