.cover__paragraph {
    display: flex;
    flex-direction: column;
    gap: 27px;
    padding: 28px 21px 0 25px;
    margin-block-end: 25px;
    border-top: 2px solid var(--color-text);

}

@media (width <= 475px) {
    .cover__paragraph {
        padding-top: 25px;
        gap: 29px;
    }
}