.footer__text {
    color: var(--color-text);
    font-family: var(--press-start-2p), sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}