.cover__text {
    color: var(--color-text);
    font-family: var(--variabl-font), sans-serif;
    font-size: var(--section-text-size);
    font-style: normal;
    font-variation-settings: 'wght' var(--font-wieght-text, 400);
    line-height: 21px; /* 116.667% */
    justify-self: end;
}

@media (width <= 475px) {
    .cover__text {
        max-width: 320px;
    }
}


@media (width <= 475px) {
    .legacy {
        max-width: 317px;
    }
}