.text {
    color: var(--button-text-color);
    font-family: var(--standart-font), fantasy;
    font-size: var(--general-text-size);
    font-style: normal;
    font-weight: 400;
    line-height: 90%; /* 12.6px */
}