/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes move {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(4px);
    }
}

@keyframes moveUnderline {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

.sparks {
    opacity: 0;
}

.like-icon .core, .like-icon .main-body {
    transition: fill 0.3s linear;
}

/*.like-icon:hover .core {*/
/*    fill: var(--fill-color-end);*/
/*    transition-delay: 0s;*/
/*}*/
.like-icon:hover .core {
    fill: var(--fill-color-end);
    transition: fill 0.3s linear 0s;
}

/*.like-icon:hover .main-body {*/
/*    fill: var(--fill-color-end);*/
/*    transition-delay: 0.05s;*/
/*}*/
.like-icon:hover .main-body {
    fill: var(--fill-color-end);
    transition: fill 0.3s linear 0.05s;
}


.like-icon .core {
    transition-delay: 0.03s;
}

.like-icon .main-body {
    transition-delay: 0s;
}

/*.like-icon:active .core,*/
/*.like-icon:active .main-body {*/
/*    fill: var(--sparks);*/
/*}*/

.like-icon:active .core,
.like-icon:active .main-body {
    fill: var(--sparks);
    transition: fill 0.3s linear;
}

/*.like-icon.is-liked .core,*/
/*.like-icon.is-liked .main-body  {*/
/*    fill: var(--sparks);*/
/*    transition-delay: 0s;*/
/*}*/

.like-icon.is-liked .core,
.like-icon.is-liked .main-body  {
    fill: var(--sparks);
    transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .contour  {
    fill: var(--sparks);
    transition: fill 0.3s linear;
    transition-delay: 0.06s;
}

.like-icon.is-liked .sparks {
    animation: sparkAnimation 0.3s ease-in 0.06s alternate;
}

.like-icon.is-liked {
    animation: scaleHeart 0.3s ease-in 0.1s alternate;
}

.like-icon .contour {
    transition: fill 0.1s linear;
}

.like-icon:not(.is-liked) .contour {
    fill: var(--fill-color-end);
}

@keyframes sparkAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scaleHeart {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}