/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
    --background-image:
            repeating-linear-gradient(
                    to right,
                    #d3d3d3, #d3d3d3 2px,
                    transparent 2px, transparent 4px
            ),

            repeating-linear-gradient(
                    to bottom,
                    #d3d3d3, #d3d3d3 2px,
                    transparent 2px, transparent 4px
            ),

            linear-gradient(
                    to bottom,
                    #e7e7e7, #1a1a1a
            );
    --floppy-color: #000;
    --color-text: #000;
    --background-color: #fff;
    --mix-blend-mode: darken;
    --hard-line: #fff;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-image:
                repeating-linear-gradient(
                        to right,
                        #d3d3d3, #d3d3d3 2px,
                        transparent 2px, transparent 4px
                ),

                repeating-linear-gradient(
                        to bottom,
                        #d3d3d3, #d3d3d3 2px,
                        transparent 2px, transparent 4px
                ),

                linear-gradient(
                        to bottom,
                        #e7e7e7 0.01%, #1a1a1a 100%
                );
        --floppy-color: #000;
        --color-text: #000;
        --background-color: #fff;
        --mix-blend-mode: darken;
        --hard-line: #fff;
    }
}

:root.theme-dark {
    --background-image:
            repeating-linear-gradient(
                    to right,
                    #000, #000 2px,
                    transparent 2px, transparent 4px
            ),

            repeating-linear-gradient(
                    to bottom,
                    #000, #000 2px,
                    transparent 2px, transparent 4px
            ),

            linear-gradient(
                    to bottom,
                    #007f0c, #004306
            );
    --floppy-color: #00CC14;
    --color-text: #00CC14;
    --background-color: #000;
    --mix-blend-mode: lighten;
    --hard-line: #000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-image:
                repeating-linear-gradient(
                        to right,
                        #000, #000 2px,
                        transparent 2px, transparent 4px
                ),

                repeating-linear-gradient(
                        to bottom,
                        #000, #000 2px,
                        transparent 2px, transparent 4px
                ),

                linear-gradient(
                        to bottom,
                        #007f0c 0%, #004306 100%
                );
        --floppy-color: #00CC14;
        --color-text: #00CC14;
        --background-color: #000;
        --mix-blend-mode: lighten;
        --hard-line: #000;
    }
}