/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
html.theme-light {
    --color-back: #000;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-back: #000;
    }
}

html.theme-dark {
    --color-back: grey;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-back: grey;
    }
}