/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --variabl-font: 'Inter-Variabl';
    --standart-font: 'Press Start 2P';
    --sparks: #FF0000;
}