/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --inter: 'Inter-Variabl';
    --press-start-2p: 'Press Start 2P';
    --font-wieght-title: 785;
    --font-wieght-text: 465;
}