.popup__text {
    color: var(--color-text);
    font-family: var(--standart-font), fantasy;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-transform: uppercase;
}
